<nav>
    <ul>
        <li>
            <details>
                <summary>Books</summary>
                <ul>
                    <li><a href="/books/cycle">The Post-Self Cycle:</a>
                        <ul>
                            <li><a href="/books/qoheleth"><em>Qoheleth</em></a></li>
                            <li><a href="/books/toledot"><em>Toledot</em></a></li>
                            <li><a href="/books/neviim"><em>Nevi'im</em></a></li>
                            <li><a href="/books/mitzvot"><em>Mitzvot</em></a></li>
                        </ul>
                    </li>
                    <li><a href="/books/restoration">Stories of Restoration:</a>
                        <ul>
                            <li><a href="/books/marsh"><em>Marsh</em></a></li>
                            <li><a href="/books/idumea"><em>Idumea</em></a></li>
                            <li><a href="/books/kaddish"><em>Kaddish</em></a></li>
                        </ul>
                    </li>
                    <li><a href="/books/clade"><em>Clade</em></a></li>
                    <li><a href="https://jessfluf.itch.io/unintended-tendencies" target="_blank"><em>Unintended Tendencies</em></a></li>
                    <li><a href="/books/motes-played"><em>Motes Played</em></a></li>
                    <li><a href="/books/ask"><em>Ask. — An Odist Q&A</em></a></li>
                </ul>
            </details>
        </li>
        <li><a href="/works">Stories</a></li>
        <li><a href="/gallery">Images</a></li>
        <!--<li><a href="https://rpg.post-self.ink">The TTRPG</a></li>-->
        <li><a href="https://wiki.post-self.ink" target="_blank">Wiki</a></li>
        <li><a href="/extras">Extras</a></li>
    </ul>
</nav>
