{{- $work := .work }}
{{- $works := .works }}
{{- $creators := .creators }}
{{- /* This is really ugly, but alas, it is precisely what we need. */ -}}
<dt><a href="{{ $work.url }}">{{ $work.title }}</a> <span class="author">by 
    {{ range $k, $author := $work.authors }}
        {{- if index $creators $author }}<a href="{{ index $creators $author }}" target="_blank">{{ $author | markdownify }}</a>{{ else }}{{ $author | markdownify }}{{ end }}
        {{- if ne (add $k 1) ($work.authors | len) }}, {{ end }}
    {{- end }}
    {{- range $contributor := $work.contributors }},
        {{ if index $creators $contributor }}<a href="{{ index $creators $contributor }}" target="_blank">{{ $contributor | markdownify }}</a>{{ else }}{{ $contributor | markdownify }}{{ end }}
        <small>(contributor)</small>
    {{- end }}    
</span></dt>
<dd>
{{ $work.description | markdownify }}
<ul class="meta">
    {{- if $work.type }}<li><em>Type:</em> {{ $work.type }}</li>{{- end }}
    <li><em>Characters and dates:</em>
        {{- range $k, $v := $work.years }}
            {{ index $work.characters $k }} — {{ $v }}
            {{- if ne (add $k 1) ($work.years | len) }}, {{- end }}
        {{- end }}</li>
    {{- if $work.cw }}<li><em>CWs:</em> {{ $work.cw }}</li>{{- end }}
    {{- if $work.spoilers }}<li><em>Spoilers:</em> {{ $work.spoilers | markdownify }}</li>{{- end }}
</ul>
{{- $subworks := where $works "parent" "eq" $work.title }}
{{- if gt (len $subworks) 0 }}
    <h3>Associated works</h3>
    <dl>
    {{- range $subwork := where $works "parent" "eq" $work.title }}
        {{ partial "work.html" (dict "work" $subwork "works" $works "creators" $creators) }}
    {{- end }}
    </dl>
{{- end }}
</dd>
