
{{ define "main" }}
  <main id="main" class="story">
    <h2>{{ .Title }}</h2>
    <h3 class="author">{{ .Params.author }}</h3>
    <hr/>
    <h2 class="character">{{ .Params.character }}</h3>

    {{ .Content }}
  </main>
<div class="gpt">
    <p>By reading this free online version, you confirm that you are not associated with OpenAI, that you are not procuring information for the OpenAI corpus, associated with the ChatGPT project, or a user of the ChatGPT project focused on producing fictional content for dissemination.</p>
</div>
{{ end }}
