<nav>
    <ul>
        <li>
            <details>
                <summary>Books</summary>
                <ul>
                    <li><a href="https://post-self.ink/cycle">The Post-Self Cycle:</a>
                        <ul>
                            <li><a href="https://qoheleth.post-self.ink" target="_blank"><em>Qoheleth</em></a></li>
                            <li><a href="https://toledot.post-self.ink" target="_blank"><em>Toledot</em></a></li>
                            <li><a href="https://neviim.post-self.ink" target="_blank"><em>Nevi'im</em></a></li>
                            <li><a href="https://mitzvot.post-self.ink" target="_blank"><em>Mitzvot</em></a></li>
                        </ul>
                    </li>
                    <li><a href="https://marsh.post-self.ink" target="_blank"><em>Marsh</em></a></li>
                    <li><a href="https://clade.post-self.ink"><em>Clade</em></a></li>
                </ul>
            </details>
        </li>
        <li><a href="https://rpg.post-self.ink">The TTRPG</a></li>
        <li><a href="/extras">Extras</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
